body {
    background-color: #CCCCCC;
}

#toolbar {
    background-color: #2F4E6F;
    width: 100%;
    height: 100px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

#nav {
    background-color: #333;
    width: 250px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 100px;
    padding-top: 10px
}

#content {
    background-color: #98B1C4;
    width: calc(100% - 250px);
    height: calc(100% - 100px);
    position: fixed;
    top: 100px;
    left: 250px;
    overflow: auto;
    z-index: -1;
}

#logo {
	float: left;
	margin: 20px 20px;
	position: relative;
	width: 13%;
	height: 70%;
	display: inline-block;
}

.item {
    border: 1px solid black;
    border-radius: 5px;
    height: 70px;
    width: 70%;
    margin: 15px auto;
    font-family: Verdana, sans-serif;
    transition: all .2s ease-in-out;
}

.item-link:nth-child(odd) > .item {
    background-color: #cccccc;
}

.item-link:nth-child(even) > .item {
    background-color: white;
}

.item:hover { 
    transform: scale(1.1);
}

.item-link:hover #important-email { 
    color: gray;
}

.option {
	background-color: gray;
	width: 245px;
	height: 40px;
	margin-top: 5px;
    transition: margin-left 0.4s;
}

.option:hover {
    margin-left: 40px;
}

.option:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#inbox {
	background-color: #E15119;
}

.option > span {
	display: inline-block;
	vertical-align: middle;
	color: white;
	font-family: Verdana, sans-serif;
}

.left-part {
	width: 25%;
	display: inline-block;
	float: left;
	margin: 5px;;
}

.right-part {
	margin: 5px;
	display: inline-block;
	width: 70%;
	float: right;
}

.inbox-subject {
	display: inline-block;
	font-size: 1.3em;
}

.inbox-sender {
	display: block;
	float: left;
    font-size: 1em;
}

.seperator {
    border-left: 3px solid gray;
    height: calc(100% - 10px);
	display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

#new-email {
    background-color: #E15119;
    border: 1px solid transparent;
    border-radius: 100%;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    position: fixed;
    color: white;
    cursor: pointer;
    transition: transform 1s;
}

#new-email:hover {
    transform: rotate(360deg);
}

a {
    text-decoration: none;
    color: black;
}

#important-email {
    color: red;
    float: right;
    bottom: 0;
    right: 0;
}